*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navtop{
    background-color: #0074F0;
    height: 40px;

}
.navtop>p{
    text-align: center;
    align-items: center;
    color: white;
    font-weight: 500;
    padding: 10px;

}
/* navbar */
.navbar{
    display: flex;
    height: 70px;
    width: 100%;
    /* border: 1px solid red; */
    justify-content: space-around;
    background-color: antiquewhite;

}
.left{
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: auto;
    list-style: none;  
}
.left p{
    margin: -11px;
}
.left>li{
    text-decoration: none;
}
.right{
    display: flex;
    justify-content: space-between;
    width: 10%;
    margin: auto;
    gap: 14px;
}
.btn1{
    height: 40px;
    width: 60%;
    font-weight: 400;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn2{
    height: 40px;
    width: 60%;
    font-weight: 400;
    border: none; 
    gap: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: hotpink;

}
.hero{
    display: flex;
    height: 553px;
    width: 100%;
    border: 1px solid grey;
    justify-content: space-around;

}
.hero div{
    height: 300px;
    width: 42%;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.hr1 h2{
    font-size: 55px;
    font-weight: 600;
    font-style: popins;
}
.hr1 p{
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
}
.hr1 button{
    text-align: center;
    height: 48px;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding-left: 65px;
    padding-right: 65px;
    margin-top: 11px;

}

.hr2>img{
    width: 100%;
}


  

/* --------------------- */
.bl{
    height: 580px;
    background-color: black;

}
.bl h2{
    color: white;
    padding-top: 20px;
    font-weight: 400;
    padding-left: 10px;
}
.bl img{
padding-left: 309px;
padding-top: 20px;
}
.bl p{
    color: white;
    padding-left: 309px;
    column-gap: 20px;
    font-size: 20px;
    font-weight: 500;

}
.three{
    display: flex;
    height: 200px;
    width: 100%;
    border: 1px solid grey;
    justify-content: space-around;
}
.three>div{
    height: 200px;
    width: 30%;
    border: 1px solid grey;
    justify-content: space-around;
    text-align: center;
    padding-top: 63px;
}
.footer {
    background-color: #232f3e;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  .footer-links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .footer-links a {
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
  }

  .footer-links a:hover {
    text-decoration: underline;
  }

  .social-icons {
    margin-top: 20px;
  }

  .social-icons a {
    margin: 0 10px;
    color: #fff;
    font-size: 20px;
  }
